.container{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 1.5rem;
  margin-top: 0.5rem;
}

ul{
  display: flex;
  flex-direction: column;
  flex: 3 0;
  justify-content: space-evenly;
  border: 1px solid maroon;
  border-radius: 1rem;
  list-style: none;
  margin: 0.5rem;
  padding: 0;
}

ul li{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #e4e4e4;
}

ul li:last-child{
  border-bottom: none;
}

li img{
  width: 5rem;
  height: 5rem;
  object-fit: scale-down;
  margin: 0.5rem;
}

li div{
  padding: 1rem;
}

li div:not(:first-child){
  flex-basis: 18%;
}

li select{
  width: 3rem;
  height: 2rem;
  border-radius: 0.5rem;
  border: 1px solid #e4e4e4;
  padding: 0.5rem;
  margin: 0.5rem;
}

li .remove-button{
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem;
  color: rgb(204, 39, 39);
  opacity: 0.7;
  outline: none;
}

li .remove-button:hover{
  opacity: 1;
  cursor: pointer;
}

.checkout{
  flex: 1 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid maroon;
  border-radius: 1rem;
  margin: 0.5rem;
  padding: 1rem;
}

.checkout>div{
  font-size: 1.4rem;
  margin: 1rem;
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.item-count{
  margin-bottom: 1.5rem;
}

.total-price::before{
  content: 'Total price: ';
  color: gray;
}

.checkout a{
  flex: 1;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: maroon;
  border-radius: 1rem;
  padding: 1rem;
  margin: 0.5rem;
  opacity: 0.7;
}

.checkout a:hover{
  opacity: 1;
  cursor: pointer;
}
