<header>
  <div class="container">
    <a routerLink="/" class="Logo">New Age Computers</a>
    <nav>
      <ul>
        <li *ngIf="!isLoggedIn">
          <a routerLink="/login">Login</a>
        </li>
        <li *ngIf="isLoggedIn" class="menu-container">
          <a routerLink="/dashboard">{{user.name}}</a>
          <div class="menu">
            <a routerLink="/Profile">Profile</a>
            <a routerLink="/Orders">Orders</a>
            <a (click)="logout()">Logout</a>
          </div>
        </li>
        <li *ngIf="isLoggedIn">
          <a routerLink="/cart">
            Cart <span *ngIf="cartQuantity">{{cartQuantity}}</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
